<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.4.0" targetFramework="net45" />
  <package id="AutofacContrib.NSubstitute" version="4.0.1" targetFramework="net45" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="NSubstitute" version="2.0.2" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net45" />
</packages>